$paletaColores: #FFEADD, #FF6666, #FF8989;
p{
color: nth($paletaColores,2 );
}
h1{
    color: nth($paletaColores,2 );
}
h2{
    color: nth($paletaColores,2 );
}
li a{
    color: nth($paletaColores,2 );
}
a{
    color: nth($paletaColores,2 );    
}