@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

#svtfoto{
    width: 440px; height: 340px;
}
body{
  background-color: #FFEADD;
}
label{
    color: #FF6666;
}
p{
    background-color: #FFEADD;
    color: #FF8989;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
li a{
    color: #FF6666;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    color: #FF6666;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    color: #FF8989;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container-fluid{
    background-color: #FFEADD;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FF8989;
}
.conteiner{
    display: grid;   
    grid-template-columns: repeat(3,1px);
    grid-template-rows: repeat(4,1px);
    grid-template-areas:
    "encabezado encabezado navegador"
    "fotos fotos navegador"
    "info info info"
    "footer footer footer";
}
header{
    grid-area: encabezado;
}
nav{
    grid-area: navegador;
}
#parrafo{
    grid-area: info;
    align-items: center;
    column-gap: 60px;
    flex-basis: 400px;
    justify-content: center;
}
img{
    background-color: #FFEADD;
    grid-area: fotos;
}
footer{
    background-color: #FFEADD;
    grid-area: footer;
}
#carouselExampleIndicators{
    width: 500px;
    height: 400px;
}
#vernonhaoshua{
width: 350px;
}
@media(max-width:425px){

    .conteiner{   
        display: grid;   
        grid-template-columns: repeat(2,1px);
        grid-template-rows: repeat(3,1px);
        grid-template-areas:
        "encabezado navegador"
        "fotos info"
        "footer footer";
    }
    #svtfoto{
        width: 350px;
        height: 250px;
    }
    #parrafo{
        text-align: center;
    }
   #carouselExampleIndicators{
    width: 400px;
   }
}